<% var page = sitedata.pages.about.kosugiyu %>
<% function extend(buf) { %>
<div class="Article">
<% const replaceToBr = (str) => {return str.replace(/\n/g, '<br>')};
const initialToUpperCase = (str) => { return str.substring(0, 1).toUpperCase() + str.substring(1) }
const generateText = (textContentArray) => {
  textContentArray.forEach((elm) => {
    if(elm.type === 'pageTitle') { %>
      <div class="Article__headingWrapper">
        <h1 class="Article__headingLv1"><%- elm.content %></h1>
      </div>
<% } else if (elm.type === 'heading') { %>
      <h2 class="Article__headingLv2"><%- replaceToBr(elm.content) %></h2>
<% } else if(elm.type === 'text') { %>
      <p class="Article__text"><%- replaceToBr(elm.content) %></p>
<% }
 });
}; %>

<% if(page.content) {
  page.content.forEach((elm, idx) => {
    if(elm.type === 'image') {
      const imageType = (idx === 0) ? 'main' : 'sub';
      const imageName = elm.name ? elm.name : 'photo_' + imageType;
      %>
<div class="Article__photoWrapper">
  <div class="Article__photo<%= initialToUpperCase(imageType)%> js-Article__photo<%= initialToUpperCase(imageType) %> " style="background-image:url('../../images/standalone/about/kosugiyu/<%= imageName  %>.jpg')"></div>
</div>
<% } else if (elm.type === 'text') { %>
  <div class="Article__inner">
<%- generateText(elm.content); %>
  </div>
<% }
  });
} %>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.7372884158754!2d139.6466903146042!3d35.70808198018804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f27e71b0d029%3A0xcac1c06748a11ee2!2z5bCP5p2J5rmv!5e0!3m2!1sja!2sjp!4v1497310414905" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<% if(page.profile) { %>
  <div class="Article__inner">
    <div class="Profile">
      <div class="Profile__nameJp"><%= page.profile.nameJp %></div>
      <% if(page.profile.links) { %>
      <ul class="Profile__links">
      <% page.profile.links.forEach((elm) => { %>
        <li class="Profile__link Profile__link--<%= elm.type %>">
          <a href="<%= elm.url %>" target="_blank"><%= elm.text ? elm.text : elm.type %></a>
        </li>
      <% }); %>
      </ul>
      <% } %>
    </div>
  </div>
<% } %>
</div>
<% }
function insertMetaTag(buf) { %>
<meta property="og:type" content="article"/>
<% }
var resource = {
  page: page,
  css: [
    '../../styles/common.css',
    '../../styles/feature.css'
  ],
  js: [
    '../../scripts/lib/jquery-3.2.1.min.js',
    '../../scripts/common.bundle.js',
    '../../scripts/feature.bundle.js'
  ],
  insertMetaTagFlag: true
};
%>
<% include ../_layout/_base %>