<%
var content = pages.top.content;
function extend(buf) { %>
<div class="MainVisual">
  <img src="../images/standalone/top/mainvisual.jpg" alt="">
</div>
<div class="Module">
  <h1 class="Module__heading"><%= content.heading.top %></h1>
  <p class="Module__text"><%= content.text.lead %></p>
  <div class="Module__image">
      <img src="../images/standalone/top/main_illust.png" alt="">
  </div>
  <a href="./about.html" class="Module__link"><%= content.link.about %></a>
</div>
<div class="Module">
  <h1 class="Module__heading"><%= content.heading.activity %></h1>

  <div class="MainMenu">
    <% var menuContents = pages.feature, cnt = 0; %>
    <% for (var i = 0; i < 3; i++) { %>
    <div class="MainMenu__row">
      <% for (var j = 0; j < 3; j++) { %>
        <% var menuContent = menuContents[cnt] %>
        <a href="./feature/<%= menuContent.id %>.html" class="MainMenu__cell">
          <p class="MainMenu__illust" style="background-image: url('../images/standalone/top/menu_<%= menuContent.id %>.png')"></p>
          <p class="MainMenu__text"><%= menuContent.title %></p>
        </a>
        <% cnt++;%>
      <% } %>
    </div>
    <% } %>
  </div>
</div>
<% }
var resource = {
  page: pages.top,
  css: [
    '../styles/common.css',
    '../styles/top.css'
  ],
  js: [
    '../scripts/bundle.js'
  ]};
%>
<% include ./_layout/_base %>
