<!DOCTYPE html>
<html lang="ja">
<%- include('../_layout/_head.ejs', {isChildDirectory: true, csspath: '../../styles/feature.css'}) -%>
<body>
<div class="Content">
  <div class="Column">
    <%- include('../_layout/_navigation.ejs')-%>
    <div class="Main">
      <div class="Article">
        <% const replaceToBr = (str) => {return str.replace(/\n/g, '<br>')};
        const initialToUpperCase = (str) => { return str.substring(0, 1).toUpperCase() + str.substring(1) }
        const generateText = (textContentArray) => {
          textContentArray.forEach((elm) => {
            if(elm.type === 'pageTitle') { %>
              <div class="Article__headingWrapper">
                <!--<p class="Article__illust" style="background-image:url('../../images/standalone/feature/<%= page.id %>/illust.png')"></p> TODO:パス整理-->
                <p class="Article__illust" style="background-image:url('../../images/standalone/top/menu_<%= page.id %>.png')"></p>
                <h1 class="Article__headingLv1"><%= page.title %></h1>
              </div>
            <% } else if (elm.type === 'heading') { %>
              <h2 class="Article__headingLv2"><%- elm.content %></h2>
            <% } else if(elm.type === 'text') { %>
              <p class="Article__text"><%- replaceToBr(elm.content) %></p>
            <% }
          });
        }; %>

        <% if(page.content) {
          page.content.forEach((elm, idx) => {
            if(elm.type === 'image') {
              const imageType = (idx === 0) ? 'main' : 'sub'; %>
              <div class="Article__photo<%= initialToUpperCase(imageType) %>" style="background-image:url(../../images/standalone/feature/<%= page.id %>/photo_<%= imageType  %>.jpg)">
              </div>
            <% } else if (elm.type === 'text') { %>
              <div class="Article__inner">
                <%- generateText(elm.content); %>
              </div>
            <% }
          });
        } %>

        <% if(page.profile) { %>
          <div class="Article__inner">
            <h2 class="Article__headingLv2"><%= page.profile.copy %></h2>
            <div class="Profile">
              <div class="Profile__nameJp"><%= page.profile.nameJp %></div>
              <div class="Profile__nameEn"><%= page.profile.nameEn %></div>
              <p class="Profile__text"><%- replaceToBr(page.profile.text) %></p>
            </div>
          </div>
        <% } %>
      </div>

      <%- include('../_layout/_footer.ejs')-%>
    </div>
  </div>
</div><!-- /.Content -->
<script type="text/javascript" src="../../scripts/bundle.js"></script>
</body>
</html>
