<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title><%= resource.page.title %></title>
<meta name="description" content="<%= resource.page.meta.description %>">

<meta property="fb:app_id" content="TODO" />
<meta property="og:title" content="<%= resource.page.title %>" />
<meta property="og:url" content="<%= resource.page.meta.url %>" />
<meta property="og:description" content="<%= resource.page.meta.description %>" />
<meta property="og:image" content="<%= resource.page.meta.image %>" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@sentogurashi">
<meta name="twitter:title" content="<%= resource.page.title %>">
<meta name="twitter:description" content="<%= resource.page.meta.description %>">
<meta name="twitter:image:src" content="<%= resource.page.meta.image %>">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<% resource.css.forEach((path) => { %>
<link rel="stylesheet" href="<%= path %>">
<% }); %>
</head>
<body>
<div class="Content js-Content">
  <div class="Column">
    <%- include ./_navigation %>
    <div class="Main">
      <%- extend(__output) %>
      <div class="Footer">
        <p><%= sitedata.common.layout.footer.text %></p>
      </div>
    </div>
  </div>
</div><!-- /.Content -->
<% resource.js.forEach((path) => { %>
<script type="text/javascript" src="<%= path %>"></script>
<% }); %>
</body>
</html>
