<% function navigationContent () { %>
<ul class="Navigation__sub">
  <li><a href="/about/kosugiyu.html"><%= sitedata.common.layout.navigation.kosugiyu %></a></li>
  <li><a class="js-info" href="" target="_blank"><%= sitedata.common.layout.navigation.contact %></a></li>
</ul>
<ul class="Navigation__sns">
  <li><a class="Navigation__snsTwitter" href="<%= sitedata.common.info.sns.twitter.url %>" target="_blank"><%= sitedata.common.info.sns.twitter.name %></a></li>
  <li><a class="Navigation__snsFacebook" href="<%= sitedata.common.info.sns.facebook.url %>" target="_blank"><%= sitedata.common.info.sns.facebook.name %></a></li>
</ul>
<% } %>

<div class="Navigation Navigation--pc">
  <a href="/" class="Navigation__sitelogo"><%= sitedata.siteTitle %></a>
  <ul class="Navigation__main">
    <li><a href="/about/project.html"><%= sitedata.common.layout.navigation.about %></a></li>
    <li><a href="/about/project.html"><%= sitedata.common.layout.navigation.media %></a></li>
  </ul>
  <div class="Navigation__bottom">
<%- navigationContent() %>
  </div>
</div>

<a class="NavigationSpTrigger js-NavigationSpTrigger">
  <span class="NavigationSpTrigger__border"></span>
  <span class="NavigationSpTrigger__border"></span>
  <span class="NavigationSpTrigger__border"></span>
</a>
<div class="Navigation Navigation--sp js-Navigation--sp">
  <a href="/" class="Navigation__sitelogo"><%= sitedata.siteTitle %></a>
  <ul class="Navigation__main">
    <li><a href="/about/project.html"><%= sitedata.common.layout.navigation.about %></a></li>
    <li><a href="/about/project.html"><%= sitedata.common.layout.navigation.media %></a></li>
  </ul>
<%- navigationContent() %>
</div>
